{% extends 'base.html.twig' %}

{% block title %} - Dashboard
{% endblock %}

{% block head_javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8">

				{% if charts is null %}
					<p>You are not seeing the chart because you aren't associated to any group.</p>
				{% else %}

					{% for chart in charts %}
					<div class="chart">
					<h2>EURO x {{ chart.currency }}</h2>
					<canvas id="chart-{{ chart.currency }}"></canvas>
					<script type="text/javascript">
					(function () {
					var ctx = document.getElementById('chart-{{ chart.currency }}')
					var myChart = new Chart(ctx, {
						type: 'line',
						data: {
						labels: [{{ chart.dates|join(', ')|raw }}],
						datasets: [{
							data: [{{ chart.values|join(', ') }}],
							lineTension: 0,
							backgroundColor: 'transparent',
							borderColor: '#007bff',
							borderWidth: 4,
							pointBackgroundColor: '#007bff'
						}]
						},
						options: {
						scales: {
							yAxes: [{
							ticks: {
								beginAtZero: false
							}
							}]
						},
						legend: {
							display: false
						}
						}
					})
					}())
					</script>
					<hr/>
					</div>
					{% endfor %}

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
